@layer components {
  .layout-sidemenu {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* Add inner padding so sidebar appears floating when not fixed */
    padding: 12px;
    box-sizing: border-box;
  }
}
