.clients-table-main-zone {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  margin: 0.5rem;
  borders: 1px solid var(--color-victorian-peacock-200);
  border-radius: 12px;
  background: var(--color-writers-parchment-200);
}

.clients-table-main-zone table {
  width: 100%;
}

.clients-table-skeleton {
  min-height: 18rem;
}

@media (max-width: 1024px) {
  .clients-table-main-zone {
    padding: 2 px;
  }
}
